@font-face {
  font-family: 'carbon-icons';
  src: url('../font/carbon-icons.eot?46943470');
  src: url('../font/carbon-icons.eot?46943470#iefix') format('embedded-opentype'),
       url('../font/carbon-icons.woff2?46943470') format('woff2'),
       url('../font/carbon-icons.woff?46943470') format('woff'),
       url('../font/carbon-icons.ttf?46943470') format('truetype'),
       url('../font/carbon-icons.svg?46943470#carbon-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'carbon-icons';
    src: url('../font/carbon-icons.svg?46943470#carbon-icons') format('svg');
  }
}
*/
 
 [class^="carbon-"]:before, [class*=" carbon-"]:before {
  font-family: "carbon-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.carbon-alert:before { content: '\e800'; } /* '' */
.carbon-users:before { content: '\e801'; } /* '' */
.carbon-user:before { content: '\e802'; } /* '' */
.carbon-heart:before { content: '\e803'; } /* '' */
.carbon-heart-outline:before { content: '\e804'; } /* '' */
.carbon-mail-outline:before { content: '\e805'; } /* '' */
.carbon-search:before { content: '\e806'; } /* '' */
.carbon-credit-card:before { content: '\e807'; } /* '' */
.carbon-analysis:before { content: '\e808'; } /* '' */
.carbon-analytics:before { content: '\e809'; } /* '' */
.carbon-brainstorming:before { content: '\e80a'; } /* '' */
.carbon-attractive:before { content: '\e80b'; } /* '' */
.carbon-html:before { content: '\e80c'; } /* '' */
.carbon-paper-plane:before { content: '\e80d'; } /* '' */
.carbon-vector:before { content: '\e80e'; } /* '' */
.carbon-target:before { content: '\e80f'; } /* '' */
.carbon-content:before { content: '\e810'; } /* '' */
.carbon-piggy-bank:before { content: '\e811'; } /* '' */
.carbon-design:before { content: '\e812'; } /* '' */
.carbon-chat:before { content: '\e813'; } /* '' */
.carbon-quality:before { content: '\e814'; } /* '' */
.carbon-thumbs-up:before { content: '\e815'; } /* '' */
.carbon-work:before { content: '\e816'; } /* '' */
.carbon-wrench:before { content: '\e817'; } /* '' */
.carbon-pencil:before { content: '\e818'; } /* '' */
.carbon-emo-beer:before { content: '\e819'; } /* '' */
.carbon-cancel:before { content: '\e81a'; } /* '' */
.carbon-lock:before { content: '\e81b'; } /* '' */
.carbon-twitter:before { content: '\f099'; } /* '' */
.carbon-facebook:before { content: '\f09a'; } /* '' */
.carbon-chemistry:before { content: '\f0c3'; } /* '' */
.carbon-menu:before { content: '\f0c9'; } /* '' */
.carbon-magic:before { content: '\f0d0'; } /* '' */
.carbon-gplus:before { content: '\f0d5'; } /* '' */
.carbon-mail:before { content: '\f0e0'; } /* '' */
.carbon-linkedin:before { content: '\f0e1'; } /* '' */
.carbon-lightbulb:before { content: '\f0eb'; } /* '' */
.carbon-left-double:before { content: '\f100'; } /* '' */
.carbon-right-double:before { content: '\f101'; } /* '' */
.carbon-up-double:before { content: '\f102'; } /* '' */
.carbon-down-double:before { content: '\f103'; } /* '' */
.carbon-left:before { content: '\f104'; } /* '' */
.carbon-right:before { content: '\f105'; } /* '' */
.carbon-up:before { content: '\f106'; } /* '' */
.carbon-down:before { content: '\f107'; } /* '' */
.carbon-laptop:before { content: '\f109'; } /* '' */
.carbon-circle-outline:before { content: '\f10c'; } /* '' */
.carbon-circle:before { content: '\f111'; } /* '' */
.carbon-code:before { content: '\f121'; } /* '' */
.carbon-help:before { content: '\f128'; } /* '' */
.carbon-rocket:before { content: '\f135'; } /* '' */
.carbon-dollar:before { content: '\f155'; } /* '' */
.carbon-youtube:before { content: '\f167'; } /* '' */
.carbon-instagram:before { content: '\f16d'; } /* '' */
.carbon-apple:before { content: '\f179'; } /* '' */
.carbon-android:before { content: '\f17b'; } /* '' */
.carbon-dribbble:before { content: '\f17d'; } /* '' */
.carbon-bug:before { content: '\f188'; } /* '' */
.carbon-graduation-cap:before { content: '\f19d'; } /* '' */
.carbon-behance:before { content: '\f1b4'; } /* '' */
.carbon-database:before { content: '\f1c0'; } /* '' */
.carbon-codepen:before { content: '\f1cb'; } /* '' */
.carbon-git:before { content: '\f1d3'; } /* '' */
.carbon-plane:before { content: '\f1d8'; } /* '' */
.carbon-paypal:before { content: '\f1ed'; } /* '' */
.carbon-cc-visa:before { content: '\f1f0'; } /* '' */
.carbon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.carbon-cc-amex:before { content: '\f1f3'; } /* '' */
.carbon-brush:before { content: '\f1fc'; } /* '' */
.carbon-diamond:before { content: '\f219'; } /* '' */
.carbon-pinterest:before { content: '\f231'; } /* '' */
.carbon-television:before { content: '\f26c'; } /* '' */
.carbon-reddit:before { content: '\f281'; } /* '' */
.carbon-snapchat:before { content: '\f2ac'; } /* '' */